.list {
  width: 400px;
  height: 80vh;
  padding: 5px;
  border: 1px solid rgb(0, 130, 251);
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  margin-right: 15px;
}
