.date {
  width: 100%;
  height: 50px;
  border: 2px solid rgb(0, 204, 255);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 15px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;

  &_active {
    background: rgb(255, 144, 186);
  }
}
