<div class="header">

  <div class="header__links">
    <span class="header__links-item" routerLink="menu" routerLinkActive="header__links-item_active">Меню</span>
    <!-- <span class="header__link" routerLink="channels" routerLinkActive="header__link_active">Каналы</span> -->
    <span class="header__links-item" [class.header__links-item_active]="isChannelsActive"
      (click)="redirectToChannels()">Каналы</span>
    <span class="header__links-item" routerLink="about" routerLinkActive="header__links-item_active">О нас</span>

  </div>

  <div class="login">
    <span *ngIf="!isAuth">
      <img class="login__img" routerLink="login" src="../assets/image/iconman.png" alt="">
    </span>

    <span *ngIf="isAuth">
      <span>{{ username }}</span>
      <img (click)="logout()" class="login__img" routerLink="login" src="../assets/image/iconman.png" alt="">
    </span>
  </div>

</div>
