<div class="content">

  <div class="menu">
    <app-dish *ngFor="let elem of dishes" [item]="elem" (selectEvent)="onSelect($event)"
      (dblEvent)="showDescription($event)">
    </app-dish>
  </div>

  <app-orders *ngIf="isHaveOrder" [order]="order" (deleteEvent)="onDeleteItem($event)">
  </app-orders>

</div>

<app-modal *ngIf="isShowModal" [dish]="modalData" (closeEvent)="onModalClose()"></app-modal>
