<form novalidate [formGroup]="userform" class="login">

  <h2 class="login__name">Авторизация</h2>

  <div class="login__item">
    <span class="item-name">
      Имя:
    </span>
    <input class="item-inp" formControlName="name" placeholder="Введите имя:" type="text">
  </div>

  <div class="login__item">
    <span class="item-name">
      Пароль:
    </span>
    <input class="item-inp" formControlName="password" placeholder="Введите пароль:" type="password">
  </div>

  <button (click)="authorization()" class="submit">Авторизация</button>
</form>
