<app-header></app-header>
<router-outlet></router-outlet>

<div class="loader" *ngIf="isLoading">
  <app-swapping-squares-spinner [animationDuration]="1000" [size]="65" [color]="'#1d99ff'">
  </app-swapping-squares-spinner>
</div>
