<div #currentShow class="tvshow" [class.tvshow_current]="isCurrent">
  <div class="tvshow__info">
    <span class="tvshow__info-start">{{ tvshow?.start | timePipe }}</span> -
    {{ tvshow.title }}
  </div>

  <div class="tvshow__current" *ngIf="isCurrent">
    <div class="progress">
      <div class="progress__line" [style.width.%]="progress"></div>
    </div>
  </div>
</div>
