.tvshow {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 0 15px;
  border: 1px solid rgb(70, 70, 70);
  user-select: none;

  &__info {
    &-start {
      font-weight: bold;
      padding-right: 10px;
    }
  }

  &_current {
    height: 70px;
  }

  &__current {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .progress {
      width: 90%;
      height: 10px;
      border: 2px solid rgb(0, 0, 0);
      &__line {
        height: 100%;
        width: 0;
        background-color: rgb(30, 180, 75);
      }
    }
  }
}
